body{
margin : 0px;
}
.navbar{
background:url('./intro.jpg');
}
.logo{
margin-left:auto;
border-radius:155px;
height:70px;
box-shadow:0px 0  5px green;
}
.navbar span{
color:white;
font-size:25px
}
.hidden{
display:hidden;
}
.width{
width:50% !important;
}
.width2{
width:100% !important;
}
.price-box{
border-color:#008bde !important;
}
.color{
color:white !important;
}
.buy-button{
background-color:#008bde !important;
}
.price-box:hover,.price-box:focus{
border-color:green !important;
}
.buy-button:focus,.buy-button:hover{
background-color:green !important;
}
.containerrrr{
background:url('./content2.png');
background-repeat:no-repeat;
background-size:cover;
color:white !important;
padding:35px !important;
height:140px !important;
}
.containerrrr2{
background:url('./content2.png');
background-repeat:no-repeat;
background-size:cover;
color:white !important;
padding:5px !important;
}
.price{
  background-image: linear-gradient(#161a29, #2d1622);
}
.sell{
  background-image: linear-gradient(#2d1622,#161a29);
}
.hero{
background:url('./price.jpg');
background-repeat:no-repeat;
background-size:cover;
}
.footer{
  background-image: linear-gradient(#292524, #1a1613);
}
.color2{
color:black !important;
}
.error{
  background-image: linear-gradient(#161a29, #2d1622);
}
header.error{
  background:red;
}
.button{
margin:5px;
}


@media screen and (max-width:600px){
.color2{
color:white !important;
}
.navbar{
background:url('./header.jpg');
background-repeat:no-repeat;
background-size:cover;
}
.navbar img{
height:100px;
}
}
/*
.navbar span{
line-height:50px;
margin:10px auto 10px 15px;
font-size: 40px;
line-height: 35px;
}*/


